<% @user.errors.full_messages.each do |msg| %>
<%= msg %>
<% end %>
<% @location.errors.full_messages.each do |msg| %>
<%= msg %>
<% end %>
<%= form_for @user, url: register_path do |f| %>

<p><%= f.label :name %></p>
<%= f.text_field :name %>

<%= f.fields_for :location do |location| %>

  <p><%= location.label :address %></p>
  <%= location.text_field :address %>

  <p><%= location.label :city %></p>
  <%= location.text_field :city %>

  <p><%= location.label :state %></p>
  <%= location.text_field :state %>

  <p><%= location.label :zip %></p>
  <%= location.text_field :zip %>

<% end %>

<p><%= f.label :email %></p>
<%= f.text_field :email %>

<p><%= f.label :password %></p>
<%= f.password_field :password %>

<p><%= f.label :confirm_password %></p>
<%= f.password_field :confirm_password %>

<%= f.submit %>

<% end %>
