<h1 class="text-center">Statistics</h1>
<section class='card-group'>
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      Top 3 Merchants
    </div>
    <ul class="list-group list-group-flush">
      <% @top_merchants.each_with_index do |merchant, n| %>
        <li class="list-group-item most-sold"><%= n + 1 %>: <%= merchant.name %>: <%= number_to_currency(merchant.revenue) %> </li>
      <% end %>
    </ul>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      Fastest Merchants
    </div>
    <ul class="list-group list-group-flush">
      <% @fastest_merchants.each_with_index do |merchant, n| %>
        <li class="list-group-item fastest"><%= n + 1 %>: <%= merchant.name %>: <%= (/.+?(?=days)/).match(merchant.fulfillment_time) %> Days</li>
      <% end %>
    </ul>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      Slowest Merchants
    </div>
    <ul class="list-group list-group-flush">
      <% @slowest_merchants.each_with_index do |merchant, n| %>
        <li class="list-group-item slowest"><%= n + 1 %>: <%= merchant.name %>: <%= (/.+?(?=days)/).match(merchant.fulfillment_time) %> Days</li>
      <% end %>
    </ul>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      Top States Ordered From
    </div>
    <ul class="list-group list-group-flush">
      <% @top_3_states_by_order.each_with_index do |orders, n| %>
        <li class="list-group-item top-states"><%= n + 1 %>: <%= orders.state %>: <%= orders.count %> Days</li>
      <% end %>
    </ul>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      Top Cities Ordered From
    </div>
    <ul class="list-group list-group-flush">
      <% @top_3_cities_by_order.each_with_index do |orders, n| %>
       <li class="list-group-item top-cities"><%= n + 1 %>: <%= orders.city %>, <%= orders.state %>: <%= orders.count %> Days</li>
      <% end %>
    </ul>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      Top Orders By Size
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <% @biggest_orders.each_with_index do |order, n| %>
          <div class="top-orders"><%= n + 1 %>: Seller: <%= order.user.name %> Items: <%= order.count %> <%= order.updated_at.strftime("%B %d, %Y") %></div>
        <% end %>
      </li>
    </ul>
  </div>
</section>
<h1 class="text-center">Merchants</h1>
<section class="card-group">
  <% @merchants.each do |merchant| %>
    <section id="merchant-<%= merchant.id %>">
      <div class="card" style="width: 18rem; background-color: blue;">
        <div class="card-header text-center">
          <% if current_admin? %>
            <%=link_to(merchant.name, "/admin/merchants/#{merchant.id}") %>
          <% else %>
            <p style="color:white;"><%= merchant.name %></p>
          <% end %>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-center">
            <% if !merchant.locations.empty? %>
              <% merchant.locations.each do |location| %>
                <h6><%= location.name %></h6>
                <p><%= location.address %>
                <%= location.city %>
                <%= location.state %>
                <%= location.zip %></p>
              <% end %>
            <% end %>
          </li>
          <li class="list-group-item text-center">Joined: <%= merchant.created_at.strftime("%B %d, %Y") %></li>
          <% if current_admin? && merchant.active? %>
            <li class="list-group-item text-center"><%= link_to "Disable", "/admin/merchant/disable/#{merchant.id}", :method=> :patch %></li>
          <% elsif current_admin? && !merchant.active? %>
            <li class="list-group-item text-center"><%= link_to "Enable", "/admin/merchant/enable/#{merchant.id}", :method=> :patch %></li>
          <% end %>
        </ul>
      </div>
    </section>
  <% end %>
</section>
