<h2>Order <%= @order.id %></h2>

<p>Date Made: <%= @order.date_made %></p>
<p>Last Updated: <%= @order.last_updated %></p>
<p>Current Status: <%= @order.status.capitalize %></p>

<% @order_items.each do |order_item| %>
  <section id="order-item-<%= order_item.id %>">
    <% item = order_item.item %>
    <p><%= link_to "#{item.name}", item_path(item) %></p>
    <p><%= item.description %></p>
    <img src="<%= item.image %>" alt="<%= item.name %> Image">
    <p>Quantity: <%= order_item.quantity %></p>
    <p>Subtotal: <%= number_to_currency(order_item.sub_total, unit: "$") %></p>
  </section>
<% end %>
<% if !@order.location.nil? %>
  <p>Address Used: <%= @order.location.name %></p>
  <p><%= @order.location.address %></p>
  <p><%= @order.location.city %></p>
  <p><%= @order.location.state %></p>
  <p><%= @order.location.zip %></p>
<% end %>
<p>Number of Items: <%= @order.item_count %></p>
<% if @order.coupon %>
  <p>Coupon Used: <%= @order.coupon.name %></p>
  <p>Amount Discounted: <%= number_to_currency(@order.coupon.amount_off) %></p>
  <p>Grand Total: <%= number_to_currency(@order.grand_total - @order.coupon.amount_off) %> (with coupon)</p>
<% else %>
  <p>Grand Total: <%= number_to_currency(@order.grand_total, unit: "$") %></p>
<% end %>
<%= form_tag(profile_order_path(@order), method: :patch, class: 'text-center') do %>
    <% @user.locations.each do |location| %>
      <%= radio_button_tag 'location', location.name %>
      <%= label_tag location.name %>
    <% end %><br>
  <%= submit_tag("Change This Orders Address", class: 'btn btn-primary') %>
<% end %>
<%= button_to "Cancel Order", profile_order_path(@order), method: "delete", disabled: !@order.pending?, class: 'btn btn-primary'%>
<% if !@order.pending? %>
  <p>You can only cancel orders that are pending!</p>
<% end %>
