
<h2><%= @user.name %></h2>
<p>Email: <%= @user.email %></p>
<p>Role: <%= @user.role %></p>
<p>Active: <%= @user.active %></p>
<section id='locations'>
  <h3>Your Saved Addresses</h3>
  <%= link_to "Add Address", new_user_location_path(@user)  %>
  <% @user.locations.each do |location| %>
    <section id='location-<%= location.id %>'>
      <h4><%= location.name %></h4>
      <p>Address: <%= location.address %></p>
      <p>City: <%= location.city %></p>
      <p>State: <%= location.state %></p>
      <p>Zip: <%= location.zip %></p>
      <p><%= link_to "Delete #{location.name.capitalize}", user_location_path(@user, location), method: :delete  %></p>
      <p><%= link_to "Edit #{location.name.capitalize}", edit_user_location_path(@user, location) %></p>
    </section>
  <% end %>
</section>

<p><%= link_to "Edit Profile", profile_edit_path %></p>

<% if @user.orders.length > 0 %>
  <p><%= link_to "My Orders", profile_orders_path %></p>
<% end %>

